@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.about {
  width: 100%;
  margin-top: 3rem;

  @include tablet {
    @include margin-layout;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
    }

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
    }

    &-logos {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  &__logos {
    display: flex;
    height: 30rem;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
    }

    &-image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 80%;
      margin-top: 1rem;
    }

    &-image-me {
      display: flex;
      height: 20rem;
      justify-content: center;
    }

    &-name {
      margin-bottom: 1rem;
    }

    &-logos-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 10rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &-logo {
      height: 2rem;
    }
  }
}
