@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.bookresult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 2px $mercury;

  // @include desktop {
  //   width: 70%;
  // }

  &__title {
    @include page-header;
    @include padding-component;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
    }

    // @include desktop {
    //   width: 70%;
    // }
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 80%;
    @include margin-layout;

    @include tablet {
      width: 70%;
    }
  }

  &__author {
    @include sub-header;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__category {
    @include sub-header;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    @include body-copy;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__button {
    width: 10rem;
    background-color: $booksquirrel-orange;
    border: none;
  }

  &__plus-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    :hover {
      cursor: pointer;
    }
  }

  &__plus-icon {
    color: $booksquirrel-orange;
    width: 2rem;
  }
}
