@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.header-out {
  width: 100%;
  height: 20vh;

  &__container {
    display: flex;
    justify-content: space-between;
    @include margin-layout;
    border-bottom: solid 3px $booksquirrel-orange;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__logo {
    width: 12rem;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // width: 12rem;
  }

  &__buttons {
    :hover {
      background-color: $booksquirrel-darkorange;
      cursor: pointer;
      color: $white;
    }
  }

  &__button {
    background-color: $booksquirrel-orange;
    border: none;
    color: $booksquirrel-darkblack;

    :hover {
      background-color: $booksquirrel-darkorange;
      cursor: pointer;
    }
  }
}
