@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.dropdownmenu {
  transition: all linear 0.3s;
  position: absolute;
  margin-right: 4rem;

  &__list-link {
    margin-top: 3rem;
    transition: all linear 0.3s;
    text-align: center;

    :hover {
      // background: gray;
      cursor: pointer;
      // color: #fff;
    }
  }

  &__list-item {
    margin-top: 1rem;
  }

  &__list-item--button {
    border: none;
    background: $booksquirrel-darkblack;
    color: $white;
  }
}
