@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  &_title {
    @include page-header;
    color: $booksquirrel-black;
    max-width: 30rem;
    text-align: center;
  }

  &__link {
    width: 20%;
    margin-top: 2rem;

    :hover {
      background-color: $booksquirrel-darkorange;
      cursor: pointer;
      color: $white;
    }
  }

  &__button {
    background-color: $booksquirrel-orange;
    border: none;
    width: 100%;
    height: 2.5rem;
    color: $white;

    :hover {
      background-color: $booksquirrel-darkorange;
      cursor: pointer;
      color: $white;
    }
  }
}
