@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.comment-item {
  &__container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $mercury;
    @include margin-layout;
    @include padding-component;
    @include tablet {
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      width: 90%;
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.75rem;
  }

  &__name {
    @include sub-header;
    color: $booksquirrel-black;
  }

  &__date {
    @include body-copy;
    color: silver;
  }

  &__comment {
    @include body-copy;
    color: $booksquirrel-black;
  }

  &__delete-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    :hover {
      cursor: pointer;
    }
  }

  &__delete-icon {
    width: 1.2rem;
  }
}
